ul,
li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: blue;
  color: yellow;
}

.deleteButton {
  color: white;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}
